<div class="container">
  <form (onSubmit)="submit()">
    <div class="form-group">
      <label for="firstName">Firstname</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your First Name"
        id="firstName"
        required
        [(ngModel)]="customer.firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastName">LastName</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your Last Name"
        id="lastName"
        required
        [(ngModel)]="customer.lastName"
      />
    </div>
    <div class="form-group">
      <label for="mobileNumber">MobileNumber</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your MobileNumber"
        id="mobileNumber"
        required
        [(ngModel)]="customer.mobileNumber"
      />
    </div>
  </form>
</div>
