<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
    <img
      src="{{ img }}"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Bootstrap
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="customers" routerLinkActive="active"
          >CustomersList <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add" routerLinkActive="active"
          >AddCustomer</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <br />
  <h2 style="text-align: center;">{{ title }}</h2>
  <hr />
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2019 @CBRE</span>
  </div>
</footer>
